
## daily_unit_reports.csv

Daily summary of the performance of a single escalator or elevator.

For accounting purposes, a "Metro Day" is considered to be the time between system openings. For example, the Metro Day corresponding to Sunday 2/22/2015 is 2/22/2015 7 AM EST (system opening Sunday) to 2/23/2015 5 AM EST (system opening Monday). Some outages are not discovered by Metro employees until the next calendar day (after system close). This accounting attempts to correct for that. Just a heads up.

 - *day*: The "Metro day" (see above)
 - *unit_id*: The unit id of the summary. 
 - *num_fixes*: Number of *new* fixes for this unit on this day.
 - *num_inspections*: Number of *new* inspections for the unit on this day.
 - *num_breaks*: Number of *new* breaks of the unit on this day. 
 - *availability*: The percentage of the time that Metro was open for which the unit was operating.
 - *broken_time_percentage*: The percentage of the time that Metro was open on this day for which the unit was broken (statuses with symptom_category == "BROKEN").

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('data/daily_unit_reports.csv')

In [5]:
data.head()

,day,num_fixes,num_inspections,num_breaks,availability,broken_time_percentage,unit_id
0,2013-06-01,0,0,0,1.0,0.0,K04X11ESCALATOR
1,2013-06-01,0,0,0,1.0,0.0,G03X01ESCALATOR
2,2013-06-01,0,0,0,1.0,0.0,C06X05ESCALATOR
3,2013-06-01,0,0,0,1.0,0.0,K04X06ESCALATOR
4,2013-06-01,0,0,0,1.0,0.0,K04X07ESCALATOR

# What I want to do
- Break up the 'day' column
    - 'year', 'month', 'day'
- break up the 'unit_id' column
    - 'unit' which has escelator or elevator 
    - 'unit_id' which has the unit number (ex :K04X11 )