## stations.csv

Each station is a row. Some stations have two station codes
if they have two platforms serving different lines (Fort Totten,
Gallery Place, L'Enfant, Metro Center).

- *code*: The WMATA station code.
- *long_name*: The full name of the station
- *short_name*: A shortened name of the station, good for URL routing.
- *line_code1-3*: The color code of the metro lines serving the station platform.
- *other_station_code*: The station code of the other platform for a separate line at the same station. This applies to Fort Totten, Gallery Place, L'Enfant Plaza, and Metro Center.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/stations.csv')

In [3]:
data.head()

,code,long_name,short_name,line_code1,line_code2,line_code3,other_station_code
0,F05,Navy Yard-Ballpark,NavyYard,GR,NaN,NaN,NaN
1,F04,Waterfront,Waterfront,GR,NaN,NaN,NaN
2,F07,Congress Heights,CongressHeights,GR,NaN,NaN,NaN
3,F06,Anacostia,Anacostia,GR,NaN,NaN,NaN
4,F01,Gallery Pl-Chinatown,GalleryPlace,GR,YL,NaN,B01

In [4]:
# What I want to do
- This data looks pretty clean, I don't think I can do much to clean it
    - I could rename the Line Code to the full color name, but not completely necessary
- Use this to do some EDA and show how many metro stations they are