## stations.csv

Each station is a row. Some stations have two station codes
if they have two platforms serving different lines (Fort Totten,
Gallery Place, L'Enfant, Metro Center).

- *code*: The WMATA station code.
- *long_name*: The full name of the station
- *short_name*: A shortened name of the station, good for URL routing.
- *line_code1-3*: The color code of the metro lines serving the station platform.
- *other_station_code*: The station code of the other platform for a separate line at the same station. This applies to Fort Totten, Gallery Place, L'Enfant Plaza, and Metro Center.

In [2]:
import pandas as pd

In [4]:
pwd

'C:\\Users\\606569\\Documents\\my_GitHub\\D.C-metro-analysis\\notebooks\\data_cleaning'

In [5]:
data = pd.read_csv('C:\\Users\\606569\\Documents\\my_GitHub\\D.C-metro-analysis\\data\\stations.csv')

In [6]:
data.head()

,code,long_name,short_name,line_code1,line_code2,line_code3,other_station_code
0,F05,Navy Yard-Ballpark,NavyYard,GR,NaN,NaN,NaN
1,F04,Waterfront,Waterfront,GR,NaN,NaN,NaN
2,F07,Congress Heights,CongressHeights,GR,NaN,NaN,NaN
3,F06,Anacostia,Anacostia,GR,NaN,NaN,NaN
4,F01,Gallery Pl-Chinatown,GalleryPlace,GR,YL,NaN,B01

# What I want to do
- This data looks pretty clean, I don't think I can do much to clean it
    - I could rename the Line Code to the full color name, but not completely necessary
- Use this to do some EDA and show how many metro stations they are

In [8]:
data.line_code1.value_counts()

RD    27
BL    27
GR    21
OR    13
SV     5
YL     2
Name: line_code1, dtype: int64

In [9]:
data.long_name.value_counts()

Metro Center                                        2
Fort Totten                                         2
Gallery Pl-Chinatown                                2
L'Enfant Plaza                                      2
Columbia Heights                                    1
Benning Road                                        1
Tenleytown-AU                                       1
Branch Ave                                          1
Eastern Market                                      1
Court House                                         1
Dunn Loring-Merrifield                              1
U Street/African-Amer Civil War Memorial/Cardozo    1
Takoma                                              1
Forest Glen                                         1
Minnesota Ave                                       1
McPherson Square                                    1
Medical Center                                      1
Rhode Island Ave-Brentwood                          1
Clarendon                                           1
Smithsonian                                         1
Franconia-Springfield                               1
Bethesda                                            1
Silver Spring                                       1
Farragut West                                       1
Federal Center SW                                   1
Prince George's Plaza                               1
Mt Vernon Sq 7th St-Convention Center               1
Largo Town Center                                   1
Ronald Reagan Washington National Airport           1
Shady Grove                                         1
                                                   ..
King St-Old Town                                    1
Farragut North                                      1
McLean                                              1
Ballston-MU                                         1
Capitol Heights                                     1
Rosslyn                                             1
Huntington                                          1
Pentagon City                                       1
Van Ness-UDC                                        1
NoMa-Gallaudet                                      1
Virginia Square-GMU                                 1
Cheverly                                            1
Southern Avenue                                     1
Addison Road-Seat Pleasant                          1
Cleveland Park                                      1
Judiciary Square                                    1
Suitland                                            1
Dupont Circle                                       1
Crystal City                                        1
Greenbelt                                           1
Waterfront                                          1
Pentagon                                            1
Tysons Corner                                       1
Eisenhower Avenue                                   1
Georgia Ave-Petworth                                1
Anacostia                                           1
Glenmont                                            1
Naylor Road                                         1
Union Station                                       1
Stadium-Armory                                      1
Name: long_name, Length: 91, dtype: int64

In [10]:
data.shape

(95, 7)