In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/units.csv')

In [3]:
data.head()

,unit_id,station_code,station_name,station_desc,esc_desc,unit_type
0,K01X08ESCALATOR,K01,COURT HOUSE,NaN,Escalator between mezzanine and platform,ESCALATOR
1,C09X08ESCALATOR,C09,CRYSTAL CITY,NaN,Escalator between mezzanine and platform to Mt...,ESCALATOR
2,F05E02ELEVATOR,F05,NAVY YARD,Navy Yard Entrance,Elevator between mezzanine and platform,ELEVATOR
3,C05X09ESCALATOR,C05,ROSSLYN,NaN,Escalator between skywalk and mezzanine,ESCALATOR
4,C05X10ESCALATOR,C05,ROSSLYN,NaN,Escalator between skywalk and mezzanine,ESCALATOR

# What I want to do
- This data looks pretty clean, not much to do other than EDA. 
- I was originally going to split up 'unit_id' column to seperate by 'unit_type', but that's already been done